.section-app {
  height: 100%;
  text-align: center;
  padding: 30px;
  font-size: 25px;
}
.landing__page h1 {
  text-align: center;
  padding: 100px;
  font-size: 50px;
  text-decoration: underline;
}
