.DashboardItems__app {
  width: 65%;
  margin: 3px auto;
  border: 1px solid black;
  height: 500px;
  padding: 10px;
}
.DashboardItems__app li {
  border: 1px solid black;
  text-align: center;
  padding: 2px;
  list-style: none;
}
.DashboardItems__app ul {
  padding: 10px;
}
