.List {
  display: flex;
  justify-content: flex-start;
}

.addListBtn {
  border: none;
  background: none;
  outline: none;
  margin: 3px;
}
.addListForm {
  margin-bottom: 50px;
  margin-top: -50px;
}

.goBackLink a:hover {
  color: #042331;
}
