.List {
  display: flex;
  height: 100%;
  margin: auto;
}
.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.addListBtn {
  border: none;
  background: none;
  outline: none;
  margin: 3px;
}
