.List {
  display: flex;
  justify-content: flex-start;
}

.addListBtn {
  border: none;
  background: none;
  outline: none;
  margin: 3px;
}
.addListForm {
  margin: 40px 0 0 20px !important;
}
.goBackLink a:hover {
  color: #042331;
}
