.RegistrationForm label {
  padding: 2px;
  font-size: 1.1rem;
}
.register-button {
  background: rgb(50, 92, 230);
  color: #fff;
}
.full_name,
.user_name,
.password {
  text-align: left;
}
#RegistrationForm__password,
#RegistrationForm__user_name,
#RegistrationForm__full_name {
  margin: 10px 0;
}

.red {
  color: red;
  padding: 10px;
  background: #fff;
  margin: 15px 0;
}
@media screen and (min-width: 480px) {
}
