* {
  box-sizing: border-box;
  padding: 0;
  margin: 0vh;
}
body {
  background-color: rgb(225, 236, 247);
}

footer {
  background-color: #042331;
  padding: 20px;
  text-align: center;
  color: #fff;
}
