* {
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}
body {
  background-color: rgb(225, 236, 247);
}

.App__main {
  overflow: auto;
  /* padding-bottom: 60px;
  height: 100%; */
}
#logo {
  background: url('../Img//logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 100px;
  position: absolute;
  right: 3px;
  top: 10px;
}
@media screen and (min-width: 1000px) {
  #logo {
    height: 120px;
    width: 120px;
  }
}
