.ProjectList {
  display: flex;
  height: 100%;
  margin: auto;
}
.AddProjectForm {
  display: flex;
  justify-content: center;
}
#titleInput {
  border-radius: 4px;
  padding: 8px;
}
#plusBtn {
  cursor: pointer;
  font-size: 22px;
}
#plusBtn:hover {
  color: darkgreen;
  transition: all 0.2s ease;
}
span {
  padding: 4px;
}

section h1 {
  font-size: 40px;
  padding: 50px;
  color: black;
}
#addBtn {
  border: none;
  background: none;
  outline: none;
  margin: 3px;
}
.renderProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
}
