.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.LoginForm input {
  border: 1px solid #ddd;
  display: block;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 8px;
  text-align: left;
  width: 220px;
  border: 1px solid lightblue;
  border-radius: 3px;
}

.LoginForm label {
  padding: 2px;
  font-size: 1.1rem;
}
.LoginForm button {
  width: 100px;
  background: rgb(50, 92, 230);
  color: #fff;
}
#LoginForm__user_name,
#LoginForm__password,
#RegistrationForm__full_name {
  margin-top: 10px;
}
.login-error {
  background: #fff;
  color: red;
  padding: 10px;
  margin: 5px;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .LoginForm input {
    width: 250px;
  }
}
