.DashboardProjects {
  border-radius: 5px;
  background: #042331;
  width: 300px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}
.DashboardProjects button {
  border: none;
  background: none;
  outline: none;
  margin: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
.DashboardProjects button:hover {
  color: red;
}
.DashboardProjects a {
  color: #fff;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  width: 100%;
  display: block;
  padding: 15px 30px;
}
.DashboardProjects:hover {
  opacity: 0.8;
}

.renderLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}
.addListForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.List a {
  color: grey;
  padding: 10px;
  font-size: 30px;
}
.addListInput {
  border-radius: 4px;
  padding: 8px;
  outline: none;
}

#backBtn {
  color: green;
  font-size: 30px;
}

.goBackLink icon {
  margin: 20px;
}

#deleteBtn {
  border: none;
  background: none;
  outline: none;
}
