.DashboardProjects {
  border-radius: 5px;
  background: #fff;
  border: 2px solid #042331;
  width: 300px;
  height: 100%;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.DashboardProjects button {
  border: none;
  background: none;
  outline: none;
  margin: 3px;
  color: #042331;
  cursor: pointer;
  font-size: 18px;
}
.DashboardProjects button:hover {
  color: red;
}
.DashboardProjects a {
  color: #042331;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}
.DashboardProjects a:hover {
  border-bottom: 2px solid red;
}
.renderLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px;
}
.addListForm {
  display: flex;
  justify-content: center;
}

.List a {
  color: grey;
  padding: 10px;
  font-size: 30px;
}
form .addListInput {
  border-radius: 4px;
  padding: 8px;
  outline: none;
}

#backBtn {
  color: green;
  font-size: 30px;
}

.goBackLink icon {
  margin: 20px;
}

#deleteBtn {
  border: none;
  background: none;
  outline: none;
}
