* {
  list-style: none;
  text-decoration: none;
}

/* .nav-app {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #042331;
  transition: all 0.5s ease;
  z-index: 1000;
}

.nav-app header a {
  font-size: 22px;
  text-align: left;
  margin: auto;
  line-height: 70px;
  background: #063146;
  user-select: none;
  font-weight: bold;
}

.nav-app header a {
  color: #fff;
}

.nav-app a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
  z-index: 1000;
} */

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: #042331;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0.3, 1);
  /* overflow: scroll; */
  z-index: 1000;
}

#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(190, 175, 175, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
  /* z-index: 1000; */
}

.navIcon {
  margin-right: 16px;
}
#nav-header {
  text-align: center;
  margin-left: -40px;
}
#nav-header a {
  font-size: 30px;
}

@media screen and (min-width: 1000px) {
  #flyoutMenu a:hover {
    padding-left: 50px;
    font-weight: bold;
  }
  #flyoutMenu {
    width: 15vw;
  }
  #flyoutMenu.hide {
    transform: translate3d(-15vw, 0, 0);
  }
}
